
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:url(./img/5c549ab12600004502faf136.webp) no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
}

.login_box{
    position: absolute;
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.login_box h1{
    font-size: 40px;
    float: left;
    border-bottom: 6px solid #22f12a;
    margin-bottom: 50px;
    padding: 13px 0;
}

.inputData{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid  #22f12a;
}

.inputData i{
    float: left;
    width: 26px;
    text-align: center;
   
}

.inputData input{
    border: none;
    outline: none;
    width: 80%;
    background: none;
    font-size: 18px;
    color: white;
    float: left;
    margin: 0 10px;
}

::placeholder{
    color: white;
    opacity: 1;
}

#btn{
    width: 100%;
    background: none;
    border: 2px solid #22f12a;
    font-size: 18px;
    color: white;
    margin: 12px 0;
    cursor: pointer;
}